@using WireguardClientBlazor.Data
@inject IDialogService _dialogService
<MudDialog DisableSidePadding="true" Style="width: 60vw;height: fit-content">
    <DialogContent>
        <MudCard Style="margin: 2%" Elevation="5">
            <MudCardContent>
                <div>
                    <MudTextField @bind-Value="name" Label="Name without '.conf'" Variant="Variant.Text"></MudTextField>
                    <MudTextField @bind-Value="config" Label="Configuration" Variant="Variant.Outlined" Lines="10"></MudTextField>
                    <div style="margin-top: 5px">
                        <MudButton OnClick="SaveConfig" Variant="Variant.Filled" Color="Color.Secondary">Save</MudButton>
                    </div>
                </div>
            </MudCardContent>
        </MudCard>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    string name = "";
    string config = "";

    async Task SaveConfig()
    {
        bool isSucess = false;
        if (!string.IsNullOrEmpty(name))
        {
            isSucess = GlobalVariables.AddNewConfig(name, config);
        }
        if (isSucess)
            MudDialog.Close(null);
    }

}