@using Microsoft.AspNetCore.Components
@using WireguardClientBlazor.Data
@using System.Diagnostics
@using System.Collections.ObjectModel
@using System.Net.NetworkInformation
@using System.Reflection
@using WireguardClientBlazor.Components
@using System.Timers
@inject IDialogService _dialogService
@inject NavigationManager _navigationManager

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }
</style>

<MudCard Style="width: 100%;height: 100%;margin-top: 1%;margin-bottom: 1%" Elevation="15">
    <MudCardContent>
        <div style="height: fit-content">
            <MudGrid style="height: 100%">
                <MudItem xs="4">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetConfigurationList">Refresh</MudButton>

                    <MudTable Items="@configurationsList" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTable"
                              RowClassFunc="@SelectedRowClassFunc" T="WGConfigEntry" OnRowClick="RowClickEvent" FixedHeader="true"
                              Height="65vh"
                              Filter="new Func<WGConfigEntry, bool>(FilterFunc1)">
                        <ToolBarContent>
                            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>Name</MudTh>
                            <MudTh>Status</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Name">@context.Name</MudTd>
                            <MudTd DataLabel="Status">
                                @if (context.IsOnline)
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.CheckCircle" Title="Online" Color="Color.Success"/>
                                }
                            </MudTd>
                        </RowTemplate>
                    </MudTable>

                    <div class="row" style="margin-top: 10px;margin-left: 10px">
                        <MudButton Variant="Variant.Filled" Color="Color.Success" OnClick="AddNewTunnel">New</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ShowLogs">Error Logs</MudButton>
                        @* <RadzenButton Text="New" Click="AddNewTunnel" Icon="add_circle_outline" Style="padding:revert"></RadzenButton> *@
                        @* <RadzenButton Text="Error Logs" Click="ShowLogs" Icon="assignment" Style="margin-left: 2px;padding: revert"></RadzenButton> *@
                    </div>
                </MudItem>

                <MudItem xs="8">
                    <MudCard Style="margin-top: 1%" Elevation="5">
                        <MudCardContent>
                            <MudCard Style="margin-top: 1%" Elevation="5">
                                <MudGrid Style="margin: 1%">
                                    <MudItem xs="7">
                                        <table>
                                            <thead>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>Config : </td>
                                                <td>@name</td>
                                            </tr>
                                            <tr>
                                                <td>Connection Status : </td>
                                                <td>@status</td>
                                            </tr>
                                            <tr>
                                                <td>IP Address : </td>
                                                <td>@ipAddress</td>
                                            </tr>
                                            <tr>
                                                <td>Down : </td>
                                                @if (selectedConfig != null)
                                                {
                                                    <td>@selectedConfig.RX.ToString("0.00") Mbps</td>
                                                }

                                            </tr>
                                            <tr>
                                                <td>Up : </td>
                                                @if (selectedConfig != null)
                                                {
                                                    <td>@selectedConfig.TX.ToString("0.00") Mbps</td>
                                                }
                                            </tr>
                                            </thead>
                                        </table>
                                    </MudItem>
                                    <MudItem xs="5">
                                        <MudCheckBox @bind-Checked="@bAutoRefresh" Label="Auto Refresh(2s)"></MudCheckBox>
                                    </MudItem>
                                </MudGrid>
                                <div style="margin: 1%">
                                    @if (selectedConfig != null)
                                    {
                                        @if (bStatus)
                                        {
                                            <MudButton Variant="Variant.Filled" Color="Color.Secondary" Disabled="@bDisable" Style="width: 150px;margin: 1%"
                                                       OnClick="Disconnect">
                                                Disconnect
                                            </MudButton>
                                        }
                                        else
                                        {
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Disabled="@bDisable" Style="width: 150px;margin: 1%"
                                                       OnClick="Connect">
                                                Connect
                                            </MudButton>
                                        }
                                    }
                                </div>
                            </MudCard>
                            <MudCard Style="margin: 1%;height: fit-content">
                                <MudCardContent>
                                    <MudTextField @bind-Value="selectedConfiguraionDetails" Label="Config" Variant="Variant.Filled" Lines="10"></MudTextField>
                                </MudCardContent>
                            </MudCard>

                            @if (selectedConfig != null && !string.IsNullOrEmpty(selectedConfig.Name))
                            {
                                <MudCard Style="margin: 5px">
                                    <MudCardContent>
                                        @if (selectedConfig.IsOnline)
                                        {
                                            <p>Must Disconnect before using the below functionalities</p>
                                        }
                                        <div style="margin: 1%">
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UpdateConfiguration" Disabled="@selectedConfig.IsOnline">Update Config</MudButton>
                                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="DeleteConfiguration" Disabled="@selectedConfig.IsOnline">Delete Config</MudButton>
                                            @* <RadzenButton Text="Update Config" Style="float: right" Click="UpdateConfiguration" Disabled="@selectedConfig.IsOnline"></RadzenButton> *@
                                            @* <RadzenButton Text="Delete Config" ButtonStyle="ButtonStyle.Danger" Style="float: right;margin-right: 5px" Click="DeleteConfiguration" Disabled="@selectedConfig.IsOnline"></RadzenButton> *@
                                        </div>
                                    </MudCardContent>
                                </MudCard>
                            }
                        </MudCardContent>
                    </MudCard>
                </MudItem>

            </MudGrid>
        </div>
    </MudCardContent>
</MudCard>

@code {
    List<WGConfigEntry> configurationsList = new List<WGConfigEntry>();
    WGConfigEntry selectedConfig { set; get; }
    bool bFirstRun = true;
    string selectedConfiguraionDetails;
    string name;
    string status;
    bool bStatus;
    bool bDisable = true;
    string ipAddress;
    string traffic = "";
    int refreshInterval = 2;
    Timer aTimer = new System.Timers.Timer();
    private string searchString = "";

    bool _bAutoRefresh;

    private MudTable<WGConfigEntry> mudTable;

    bool bAutoRefresh
    {
        set
        {
            _bAutoRefresh = value;
            aTimer.Enabled = value;
        }
        get { return _bAutoRefresh; }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        if (bFirstRun)
        {
            GetConfigurationList();
            bAutoRefresh = false;
            bFirstRun = !bFirstRun;
            aTimer = new System.Timers.Timer();
            aTimer.Interval = refreshInterval * 1000;
            aTimer.Elapsed += OnTimedEvent;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        //Running it in OnInitialized causes an exception
        CheckRequirements();
    }

    void GetConfigurationList()
    {
        configurationsList.Clear();
        List<string> result = GlobalVariables.GetConfigurationFiles(GlobalVariables.DefaultConfigurationsPath);
        foreach (var entry in result)
        {
            string Name = "";
            string[] tempName = entry.Split('.');
            if (tempName.Length > 2)
                for (int i = 0; i < tempName.Length - 2; i++)
                {
                    Name += tempName[i];
                }
            else
            {
                Name = tempName[0];
            }
            WGConfigEntry tempWGConfig = new WGConfigEntry
            {
                Name = Name,
                Path = GlobalVariables.DefaultConfigurationsPath + entry,
                IsOnline = GlobalVariables.GetStatus(Name)
            };
            configurationsList.Add(tempWGConfig);
        }
    //Required for Radzen List, Sometimes State has changed does not detect any changes otherwise
        configurationsList = configurationsList.ToList();
        StateHasChanged();
    }

    void OnChange(WGConfigEntry wgConfigEntry)
    {
        selectedConfig = wgConfigEntry;
        if (string.IsNullOrEmpty(selectedConfig.Name))
        {
            ClearSelection();
            return;
        }
        bDisable = false;

        selectedConfiguraionDetails = GlobalVariables.GetConfigurationFromFile(selectedConfig.Path);
        bStatus = selectedConfig.IsOnline = GlobalVariables.GetStatus(selectedConfig.Name);
        name = selectedConfig.Name;
        if (bStatus)
        {
            status = "Online";
            ipAddress = GlobalVariables.GetIPAddress(selectedConfig.Name);
        }
        else
        {
            status = "Offline";
            ipAddress = "";
        }
        StateHasChanged();
    }

    async Task Connect()
    {
        if (!string.IsNullOrEmpty(selectedConfig.Name))
        {
            GlobalVariables.Connect(selectedConfig.Name);
            OnChange(selectedConfig);
        }
        GetConfigurationList();
    }

    async Task Disconnect()
    {
        if (!string.IsNullOrEmpty(selectedConfig.Name))
        {
            GlobalVariables.Disconnect(selectedConfig.Name);
            OnChange(selectedConfig);
        }
        GetConfigurationList();
    }

    async Task AddNewTunnel()
    {
        DialogOptions options = new DialogOptions { };
        var dialogRef = _dialogService.Show<NewConfiguration>("New Configuration");
        var justWait = await dialogRef.Result;
        GetConfigurationList();
    }

    async Task<bool> Confirm(string message = "")
    {
        bool isConfirmed = false;
        DialogParameters parameter = new DialogParameters();
        parameter.Add("message", message);
        var dialog = _dialogService.Show<ConfirmDialog>("Confirm", parameter);
        var result = await dialog.Result;
        if (result.Data != null)
            isConfirmed = (bool)result.Data;
        return isConfirmed;
    }


    async Task UpdateConfiguration()
    {
        bool result = await Confirm($"Update Configuration of {selectedConfig.Name}?");
        if (result)
            GlobalVariables.UpdateConfiguration(selectedConfig, selectedConfiguraionDetails);
        GetConfigurationList();
    }

    async Task DeleteConfiguration()
    {
        bool result = await Confirm($"Delete Configuration file {selectedConfig.Name}?");
        if (result)
            GlobalVariables.DeleteConfig(selectedConfig.Path);
        GetConfigurationList();
        ClearSelection();
    }

    void ClearSelection()
    {
        selectedConfig = new WGConfigEntry();
        name = "";
        ipAddress = "";
        status = "";
        selectedConfiguraionDetails = "";
        traffic = "";
        bDisable = true;
    }

    void RefreshInterfaceStats()
    {
        if (selectedConfig == null)
            return;
        DateTime x = DateTime.Now;

        List<NetworkInterface> adapters = NetworkInterface.GetAllNetworkInterfaces().ToList();
        NetworkInterface adapter = adapters.Find(adpt => adpt.Name == selectedConfig.Name);

        int tempValue = 0;

        if (adapter != null)
        {
            selectedConfig.RX = ((adapter.GetIPv4Statistics().BytesReceived - selectedConfig.BytesReceived) * 8)
                                / (1024.0f * 1024.0f * refreshInterval);
            selectedConfig.TX = ((adapter.GetIPv4Statistics().BytesSent - selectedConfig.BytesSent) * 8)
                                / (1024.0f * 1024.0f * refreshInterval);
            selectedConfig.BytesReceived = adapter.GetIPv4Statistics().BytesReceived;
            selectedConfig.BytesSent = adapter.GetIPv4Statistics().BytesSent;
        }


        InvokeAsync(StateHasChanged);
    }

    private void OnTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
    {
        RefreshInterfaceStats();
    }

    void ShowLogs()
    {
        _dialogService.Show<LogsPage>("Logs");
    }

    private string SelectedRowClassFunc(WGConfigEntry element, int rowNumber)
    {
        if (mudTable.SelectedItem != null && mudTable.SelectedItem.Equals(element) && selectedConfig != element)
        {
            selectedConfig = element;
            OnChange(selectedConfig);
            return "selected";
        }
        else
        {
            return string.Empty;
        }
    }

    //required to invoke selection event no need to implement it
    private void RowClickEvent()
    {
    }

    private bool FilterFunc1(WGConfigEntry element) => FilterFunc(element, searchString);

    private bool FilterFunc(WGConfigEntry element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.Name.Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }

    void CheckRequirements()
    {
        if(!GlobalVariables.bRequirementsSatisfied)
            _navigationManager.NavigateTo("missing");
    }


}